# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
planning/old/Save Files
planning/old/old planning/time_system
planning/old/old planning/random_ideas
planning/old/old planning/quests
planning/old/old planning/monsters
planning/old/old planning/master_plan
planning/old/old planning/level_generation
planning/old/old planning/items
planning/old/old planning/descriptions
planning/old/old planning/combat
planning/old/old planning/Businesses
planning/old/old planning/10 19 18
planning/old/INTRO TO FROGMODAI
planning/old/frogmodai story planning
planning/old/Environments
planning/old/10 30 19
planning/old/10 19 19
planning/old/10 06 19
planning/old/09 18 19
planning/old/07 14 19
story/.DS_Store
story/04 20 story shit.scriv/04 20 story shit.scrivx
story/04 20 story shit.scriv/Files/binder.autosave
story/04 20 story shit.scriv/Files/binder.backup
story/04 20 story shit.scriv/Files/Data/8A1E2337-BE4A-4257-B243-D21547ACA5C9/content.rtf
story/04 20 story shit.scriv/Files/Data/A5FA3896-A43D-4C31-A671-ECA8A1494CC4/content.rtf
story/04 20 story shit.scriv/Files/Data/docs.checksum
story/04 20 story shit.scriv/Files/Data/E0C28481-7610-40E5-B92A-9C218E1A1196/content.rtf
story/04 20 story shit.scriv/Files/search.indexes
story/04 20 story shit.scriv/Files/styles.xml
story/04 20 story shit.scriv/Files/version.txt
story/04 20 story shit.scriv/Files/writing.history
story/04 20 story shit.scriv/QuickLook/Preview.html
story/04 20 story shit.scriv/QuickLook/Thumbnail.jpg
story/04 20 story shit.scriv/Settings/compile.xml
story/04 20 story shit.scriv/Settings/recents.txt
story/04 20 story shit.scriv/Settings/ui-common.xml
story/04 20 story shit.scriv/Settings/ui.plist
story/040820 01
planning/03 21 20
